.modal {
    position: relative;
    background-color: #fff;
    border: 1px solid  #646464;
    border-radius: 14px;
    margin: auto;
    min-width: 290px;
    padding: 40px 15px;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 19px;
}

.modal__title {
    font-weight: 700;
    font-size: 14PX;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    max-width: 224;
    margin: 0 auto 30px;
}

.callback__label {
    position: relative;
    display: block;
    margin-bottom: 20px;
}
.callback__label-text {
    position: absolute; 
    top: 5px;
    left: 15px;
    font-weight: 700px;
    font-size: 12px;
    line-height: 130%;
    color: #303030;
}
.callback__input {
    border: 1px solid #afafaf;
    border-radius: 6px;
    width: 100%;
    height: 74px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 130%;
    margin-right: 15px;
}

.callback__group:not(:last-child) {
    margin-bottom: 40px;
}

.connect__title {
    font-weight: 700px;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.connect__radio {
    margin-right: 15px;
}

.connect__label {
    display: block;
    margin-bottom: 15px;

}


.callback__btn {
    display: block;
    margin: 0 auto;
    background-color: #E87C40;
    border-radius: 4px;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 60px;
}